<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @city_state.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @city_state.state %>
</p>

<%= link_to 'Edit', edit_city_state_path(@city_state) %> |
<%= link_to 'Back', city_states_path %>
